@import "tailwindcss" important;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-custom-pure .ant-pagination-item {
  margin-inline: 0 !important;
  margin: 0 !important;
  border: none !important;
  background: transparent !important;
  min-width: auto !important;
  height: auto !important;
}


.ant-custom-pure .ant-pagination-item a,
.ant-custom-pure .ant-pagination-item focus-visible {
  outline: none !important;
  border: none !important;
}


.ant-custom-pure .ant-pagination-prev,
.ant-custom-pure .ant-pagination-next {
  margin-inline: 0 !important;
  margin: 0 !important;
  border: none !important;
  background: transparent !important;
  min-width: auto !important;
  height: auto !important;
}